*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    
    
    font-family: 'Exo', sans-serif;  
    
    
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  rgb(0, 0, 0);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(233, 186, 55);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }

/*---------------------------Navbar----------------------------*/
#navbar{
    z-index: 1;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.836);
    width: 100%;
    min-height: 40px;
}

.nav{
    padding: 5px;
    width: 100%;
}

#logo-div{
margin-left: 5px;
height: 3rem;
cursor: pointer;
width: 10%;
float: left;
}

#logo{
    height:2.7rem;
}


.nav-list{
    width: 40%;
    padding: 10px;
    float: right;
    margin-bottom: 5px;
}


.nav-list li{
    list-style: none;
    display: inline;
    font-family: 'Exo', sans-serif;  
    padding-top: 10px;
}
 
.nav-list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    padding: 5px 10px;    
}

.nav-list li a:hover{
    color: rgb(233, 186, 55);
}

#active{
    color: rgb(233, 186, 55) !important;
}




/*--------------------------------Restaurant name---------------------*/

#homepage{
    width: 100%;
    height: 45rem;
    background-image: url(food3.jpg);
    background-color: rgba(0, 0, 0, 0.774);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(233, 186, 55) !important;
    font-family: 'Amatic SC', cursive;
    padding-top: 12rem;
}

#rest:hover{
    color:  rgb(255, 255, 255);
    cursor: pointer;
}
#the:hover{
    color: rgb(255, 255, 255) ;
    cursor: pointer;
}
#night:hover{
    color:  rgb(233, 186, 55);
    cursor: pointer;
}

#the{
    
    width: 5%;
    margin-left: 36.3%;
    margin-right: 58.7%;
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 0px 10px;
    border-radius: 10px 10px 0px 0px;
}

#night{    
    width: 30%;
    margin: 0 auto;
    font-size: 5em ;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 0px 10px;
    border-radius: 10px 10px ;
} 

#rest{
    width: 15%;
    margin-left: 49%;
    margin-right: 36%;
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 0px 10px;
    border-radius: 0px 0px 10px 10px;
}

#oasis{
    font-size: 1.7rem;
    width: 15%;
    margin: 0 30rem 0 43rem;
    
}

#button1{
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(233, 186, 55);
    color: rgba(0, 0, 0, 0.856);
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 25px;
    border: none;
    font-family: 'Exo', sans-serif;  
    margin: 40px 10px 0 10px;
}

#button1:hover{
    background-color: rgba(0, 0, 0, 0.856);
    box-shadow: 2px 2px 10px 0px rgb(233, 186, 55), -2px -2px 10px 0px rgb(233, 186, 55), 2px -2px 10px 0px rgb(233, 186, 55), -2px 2px 10px 0px rgb(233, 186, 55);
    color:rgb(233, 186, 55);
}
/*-----------------------------------------about--------------------------------*/


#aboutus{
    width: 100%;
    background-color:rgb(230, 186, 67);
    text-align: center;
    padding: 20px 40px 40px 40px;
    margin:0 auto;   
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#welcome{
height: 20rem;
}

#wel-photo{
float: left;
width: 32%;
overflow: hidden;
height: 20rem;
}



#wel-img{
    height: 20rem; width: 27.2rem;
    transition: width 1s ,height 1s;
}

#wel-img:hover{
    width: 28rem;
    height: 21rem;
    cursor: pointer;
}
#wel-content{
    float: left;
    background-color: rgb(233, 186, 55);
    font-size: 1.3rem;
    width: 68%;
    height: 20rem;
    padding: 40px;
}

span{
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
}

/*------------------------------------------menu-------------------------------*/


.menu{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding: 10px 20px;
    font-size: 6em;   
    color:  rgb(233, 186, 55);
    font-weight: bolder;
    text-shadow: -30px -20px 5px rgb(104, 98, 98);
}

.main-menu{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    background-image: url(food2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.911);
    background-blend-mode: overlay;
}

.main-menu1{    
    color: rgb(252, 252, 252);
    width: 100%;
    height: 15rem;
    padding: 20px;
    
}



.photo1{
    width: 24.5%;  
    float: left;  
    margin-left: 10%;

}


.content1{
    width: 60%;
    padding: 10px;
    float:left;    
    text-align: justify;
    
}

.image{
    box-shadow:20px 20px 0  rgb(233, 186, 55);
    height: 13rem;
    width: 17rem;
    transition: width 1s ,height 1s;
}

.image:hover{
    width: 18rem;
    height: 14rem;
    cursor: pointer;
}

.list1{
    padding:10px;
    float:left;
    margin: 1% 0 1% 4.2%;
}

.list2{
    padding:10px;
    float:left;
    margin: 1% 1% 1% 0;
}



.main-menu2{
    width: 100%;
    height: 15rem;
    padding: 20px;
    color: white;
}

.photo2{
    width: 22%;
    float: right;
    margin-right: 10%;
}

.content2{
    
    width: 60%;
    padding: 2%;
    float: right; 
    text-align: justify;
}

.list3{
    
    
    padding:10px;
    float:left;
    margin:1% 0 1% 3%;
}

.list4{
    padding:10px;
    float:left;
    margin:1% 2% 1% 0;
}

/*------------------------------------------gallery-----------------------------*/

#gallery{
    height: 39rem;
    background-color: rgba(0, 0, 0, 0.774);
    background-image: url(food12.jpg); 
    background-attachment: fixed; 
    background-size: cover;
    background-blend-mode: overlay;
}



/*------------------------------------------footer-------------------------------*/
footer{
    background-color: rgb(22, 21, 21);
    width: 100%;
    height: 14rem;
    color: rgb(255, 255, 255);   
    margin-top: 0px;
    margin-bottom: 0;
    border-top: 10px solid rgb(15, 15, 15);
}

#foot-main{
    width: 95%;
    margin: 0 auto;
}

.foot-menu{
    line-height: 30px;
    width: 9%;
    float: left;
    padding: 10px;
    margin-left: 10%;    
    cursor: pointer;
    
}

.foot-menu li{
    text-align: justify;
    
}

.foot-menu1{
    line-height: 30px;
    width: 11%;
    float: left;
    padding: 10px;
    margin-left: 4%;    
    cursor: pointer;
    
}

.foot-menu1 li{
    text-align: justify;
    
}

ul{
    list-style: none;
}

.contact{
    width: 22%;
    line-height: 30px;
    float: left;
    margin-left: 10%;
    padding: 10px;    
    margin:0 auto;
}

.follow{
    width: 10%;
    line-height: 30px;
float:left;
padding: 10px;
margin-left: 2%;

}

.form{
    width: 20%;
    line-height: 16px;
    float: left;
    margin-left: 3%;
    padding: 10px;
    
}

.button{
    padding: 5px;
    margin-left: 35%;
    cursor: pointer;
    background-color:  rgb(233, 186, 55);
    border: 0px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.932);
    border-radius: 8px 0px;
}

.follow li{
    text-align: justify;
}

.foot-head{
    font-weight: bolder;
    font-size: 1.1em;
    color: rgb(233, 186, 55);
    
}

